/Parcial1/T_Clase/Constructor/target/
/Parcial1/T_Clase/Encapsulamiento/target/
/Parcial1/T_Clase/PasoValor/target/
/Parcial1/T_Clase/PasoReferencia/target/
/P1/T_Clase/ModificadorAccesoStatic/target/
/P1/T_Clase/Herencia/target/
